:host {
  display: block;
}

* {
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.admin-page-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem 1rem;
}
